@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: graphie, coquette;
    scroll-behavior: smooth;
  }
}

@layer components {
  .lmao {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}

.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.clearfix { 
}



