@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font, and tells the website to scroll smoothly when told to scroll on its own. */
@layer base {
  html {
    font-family: graphie, coquette;
    scroll-behavior: smooth;
    }
  }


/* An override for the the titles. */
@layer components {
  .lmao {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}

.projectimg{
  transition: scale 100ms;
}

body:has(.projectimg[data-color="wessex"]:hover) {
  background-color: #dbe7e6;
  transition: 400ms;
}

body:has(.projectimg[data-color="scarlett"]:hover) {
  background-color: #fde7f8;
  transition: 400ms;
}

body:has(.projectimg[data-color="yt"]:hover) {
  background-color: #ececec;
  transition: 400ms;
}

body:has(.projectimg[data-color="rive"]:hover) {
  background-color: #e1c3e2;
  transition: 400ms;
}

body:has(.projectimg[data-color="strode"]:hover) {
  background-color: #c2b5c5;
  transition: 400ms;
}

.projectimg[data-color="wessex"]:hover {
  border-color: #ED8971;
  transition: 400ms;
}

.projectimg[data-color="scarlett"]:hover {
  border-color: #a2e5ff;
  transition: 400ms;
}

.projectimg[data-color="strode"]:hover {
  border-color: #da2a2a;
  transition: 400ms;
}

.projectimg[data-color="yt"]:hover {
  border-color: #f10000;
  transition: 400ms;
}

.projectimg[data-color="rive"]:hover {
  border-color: #8BB8F5;
  transition: 400ms;
}
/* Enables the images inside the div to be forced inside it. Mostly a band-aid solution, but works well. */
.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

/* Animation direction for the project images below */
@keyframes pulse {
  from, to {
    scale: 1;
  }
  50% {
    scale: 0.95;
  }
}

/*For the project images. It enables the image to be consistent and to "bounce" up when hovered*/
#projectimg {
  width: 500px;
  aspect-ratio: 7 / 5;
  cursor: pointer;
  overflow: hidden;
}

#projectimg:hover{
  animation:pulse 800ms ease-in-out;
  opacity: 0.8;
  transition: 0.5s;
}

#projectimg > img {  
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/*For the pop-ups around the screen to "bounce" like the project page (:*/
.popupimg:hover{
  animation:pulse 800ms ease-in-out;
}

/* This part enables the down pulse that the arrows have when hovered on.*/
@keyframes down {
  from, to {
    scale: 1;
    margin-top: 0%;
  }
  50% {
    scale: 1.05;
    margin-top: 5%;
  }
}

.downarrow {
  width: 50px;
  aspect-ratio: 1/2;
  cursor: pointer;
  overflow: hidden;
}

.downarrow:hover{
  animation:down 800ms ease-in-out;
  animation-duration: 1000ms;
}

/*For the top nav bar to be on the top, without the background getting in the way.*/
.top {
  z-index: 2;
}

.gradient {
  position: relative;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgba(239,246,255,1) 17%, rgb(194, 219, 255) 100%);
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgb(209, 227, 250) 17%, rgb(166, 200, 245) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.gradient2 {
  position: relative;
  background-image: linear-gradient(63deg, rgb(243, 255, 243) 0%, rgb(227, 252, 227) 17%, rgb(205, 250, 202) 100%);
  z-index: 1;
}

.gradient2::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgb(243, 255, 245) 0%, rgb(223, 255, 223) 17%, rgb(165, 245, 169) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient2:hover::before {
  opacity: 1;
}

/* Enables the project images to have coloured backgrounds when hovered. */
.backproj {
  background-color: #FAFAFA;
  transition: 1s;
}

.backproj:hover {
  background-color: #e8ecff;
}

/* This enables the diffrenct colours when text is highlighted*/
.projtext:hover {
  color: #d8b4fe;
  transition: 0.5s;
  text-shadow: 2px 2px 5px #e7d1ff;
}
