@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font, and tells the website to scroll smoothly when told to scroll on its own. */
@layer base {
  html {
    font-family: graphie, coquette;
    scroll-behavior: smooth;
    }
  }


/* An override for the the titles. */
@layer components {
  .lmao {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}


/* Enables the images inside the div to be forced inside it. Mostly a band-aid solution, but works well. */
.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

/* Animation direction for the project images below */
@keyframes pulse {
  from, to {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
}

/*For the project images. It enables the image to be consistent and to "bounce" up when hovered*/
#projectimg {
  width: 500px;
  aspect-ratio: 7 / 5;
  cursor: pointer;
  overflow: hidden;
}

#projectimg:hover{
  animation:pulse 800ms ease-in-out;
  opacity: 0.8;
  transition: 0.5s;
}

#projectimg > img {  
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/*For the pop-ups around the screen to "bounce" like the project page (:*/
.popupimg:hover{
  animation:pulse 800ms ease-in-out;
}

/* This part enables the down pulse that the arrows have when hovered on.*/
@keyframes down {
  from, to {
    scale: 1;
    margin-top: 0%;
  }
  50% {
    scale: 1.05;
    margin-top: 5%;
  }
}

.downarrow {
  width: 50px;
  aspect-ratio: 1/2;
  cursor: pointer;
  overflow: hidden;
}

.downarrow:hover{
  animation:down 800ms ease-in-out;
  animation-duration: 1000ms;
}

.gradient {
  position: relative;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgba(239,246,255,1) 17%, rgb(212, 230, 255) 100%);
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgba(239,246,255,1) 17%, rgba(180,212,255,1) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.gradient2 {
  position: relative;
  background-image: linear-gradient(63deg, rgb(243, 255, 243) 0%, rgb(239, 255, 239) 17%, rgb(215, 255, 212) 100%);
  z-index: 1;
}

.gradient2::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgb(239, 255, 239) 17%, rgb(180, 255, 184) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient2:hover::before {
  opacity: 1;
}

/* Enables the project images to have coloured backgrounds when hovered. */
.backproj {
  background-color: #FAFAFA;
  transition: 1s;
}

.backproj:hover {
  background-color: #e8ecff;
}

/* This enables the diffrenct colours when text is highlighted*/
.projtext:hover {
  color: #d8b4fe;
  transition: 0.5s;
  text-shadow: 2px 2px 5px #e7d1ff;
}

.fadeout:hover {
  opacity: 0.5;
}

.PS {
  background: rgb(213,232,255);
  background: linear-gradient(16deg, rgb(213, 231, 252) 0%, rgb(240, 246, 255) 100%);
}

.EDU {
  background: rgb(213,255,217);
  background: linear-gradient(16deg, rgb(213, 250, 217) 0%, rgb(241, 255, 243) 100%);
}