@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font, and tells the website to scroll smoothly when told to scroll on its own. */
@layer base {
  html {
    font-family: graphie, coquette;
    scroll-behavior: smooth;
    }
  }

/* An override for the the titles. */
@layer components {
  .lmao {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}

.imagefixed {
  width: 500px;
  border-color: #7B66DA;
  border-radius: 1rem;
}

/* This enables the colour changes when hoving on a project using the data-color on the project dictionary. */
body:has(.projectimg[data-color="wessex"]:hover) {
  background-color: #dbe7e6;
  transition: 400ms;
}

body:has(.projectimg[data-color="scarlett"]:hover) {
  background-color: #fde7f8;
  transition: 400ms;
}

body:has(.projectimg[data-color="yt"]:hover) {
  background-color: #54005e;
  transition: 400ms;
}

body:has(.projectimg[data-color="rive"]:hover) {
  background-color: #313131;
  transition: 400ms;
}

body:has(.projectimg[data-color="strode"]:hover) {
  background-color: #999999;
  transition: 400ms;
}

.projectimg[data-color="wessex"]:hover {
  border-color: #ED8971;
  transition: 400ms;
}

.projectimg[data-color="scarlett"]:hover {
  border-color: #a2e5ff;
  transition: 400ms;
}

.projectimg[data-color="strode"]:hover {
  border-color: #da2a2a;
  transition: 400ms;
}

.projectimg[data-color="yt"]:hover {
  border-color: #43d44a;
  transition: 400ms;
}

.projectimg[data-color="rive"]:hover {
  border-color: #7B66DA;
  transition: 400ms;
}

/* Enables the images inside the div to be forced inside it. Mostly a band-aid solution, but works well. */
.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

/*For the top nav bar to be on the top, without the background getting in the way.*/
.top {
  z-index: 2;
}

.gradient {
  position: relative;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgba(239,246,255,1) 17%, rgb(194, 219, 255) 100%);
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgba(243,248,255,1) 0%, rgb(209, 227, 250) 17%, rgb(166, 200, 245) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.gradient2 {
  position: relative;
  background-image: linear-gradient(63deg, rgb(243, 255, 243) 0%, rgb(227, 252, 227) 17%, rgb(205, 250, 202) 100%);
  z-index: 1;
}

.gradient2::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(63deg, rgb(243, 255, 245) 0%, rgb(223, 255, 223) 17%, rgb(165, 245, 169) 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient2:hover::before {
  opacity: 1;
}
