@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic font, and tells the website to scroll smoothly when told to scroll on its own. */
@layer base {
  html {
    font-family: graphie, coquette;
    scroll-behavior: smooth;
    }
  }


/* An override for the the titles. */
@layer components {
  .lmao {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .top {
    grid-template-columns: auto auto;
  }
}


/* Enables the images inside the div to be forced inside it. Mostly a band-aid solution, but works well. */
.clearfix:after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

/* Animation direction for the project images below */
@keyframes pulse {
  from, to {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
}

/* This is for the project images. It enables the image to be consistent and to "bounce" up when hovered*/
#projectimg {
  width: 500px;
  aspect-ratio: 7 / 5;
  cursor: pointer;
  overflow: hidden;
}

#projectimg:hover{
  animation:pulse 800ms ease-in-out;
}

#projectimg > img {  
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/* This part enables the down pulse that the arrows have when hovered on.*/
@keyframes down {
  from, to {
    scale: 1;
    margin-top: 0%;
  }
  50% {
    scale: 1.05;
    margin-top: 5%;
  }
}

.downarrow {
  width: 50px;
  aspect-ratio: 1/2;
  cursor: pointer;
  overflow: hidden;
}

.downarrow:hover{
  animation:down 800ms ease-in-out;
}


/* Enables the project images to have coloured backgrounds when hovered. */
.backproj {
  background-color: #FAFAFA;
  transition: 1s;
}

.backproj:hover {
  background-color: #f7eeff;
}

/* This is for the parallax scroll of the website on the main.*/
.parallax {
  height: 100vh;
  overflow-x: hidden;

  perspective: 1px;
}


.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(-0.1px) scale(1.1);
  height: 100%;
  width: 100%;
  background-size: cover;
  
}

.layer2 {
  transform: translateZ(-0.5px) scale(1);
  background-color: aqua;
}
